body {
    background-color: #88e188;
}

.navbar-default, navbar-collapse{
	background: #FFFFFF;
	box-shadow: 3px 3px 3px #1A4D31;
}

h1,h2,h3,h4,h5,legend {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Kalam', cursive;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}

p,a {
    font-family: 'Kalam', cursive;
    font-size: 15px;
    color: white;

}

a{
	color: black;
}

a:hover{
	color: darkgreen;
}

button.navbar-toggle.collapsed{
	float: left;
    margin-left: 20px;
}

.recept{
	background-color: white;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #1A4D31;
	padding: 5px;
	margin-bottom: 20px;
	float: left;
	width: 100%;
}

.foto{
	height: 150px;
	width:150px;
	background-color: grey;
	text-align: center;
}

.title{
	color: black;
	font-size: 23px;
}

.left{
	float:left;
}

.right{
	padding-left:20px;
	float: left;
}

label{
	font-family: 'Kalam', cursive;
	color: white;
}